#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;

  background-color: green;
  height: 100%;
  width: 100%;
  z-index: 100;
}
#menu .logo {
  height: 120px;
  margin-bottom: 40px;
}
#menu .themes {
  display: flex;
  font-size: smaller;
  gap: 10px;
  margin-top: 5px;
}
#menu .theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}
.themes .selected-theme {
  background-color: rgba(10, 10, 10, 0.2);
  box-shadow: 0px 0px 5px 1px white;
}
.theme:hover {
  box-shadow: 0px 0px 5px 1px white;
}
#menu .theme img {
  width: 100px;
  pointer-events: none;
}
#menu button {
  cursor: pointer;
  padding: 5px 0px;
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 10px;
  background-color: var(--green);
  border: none;
  font-size: large;
  margin-top: 50px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px 0px white;
}
#menu button:hover {
  background-color: rgba(10, 10, 10, 0.2);
}
.bots select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  font-size: smaller;
}
.select {
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  cursor: pointer;
  width: 60px;
}
#menu table {
  width: 200px;
  margin-top: 20px;
  border-spacing: 10px;
}
.delayInput {
  box-sizing: border-box;
  width: 60px;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  outline: none;
}
.fade {
  animation: fadeOut 0.5s linear;
}
#menu a {
  font-size: small;
  color: rgb(157, 205, 171);
  text-decoration: none;
}
#menu a:hover {
  text-decoration: underline;
  color: white;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: calc(var(--table-height) - 50px);
    width: calc(var(--table-width) - 100px);
  }
}

@media screen and (min-width: 800px) {
  #menu {
    height: var(--table-height);
    width: var(--table-width);
    border-radius: var(--border-radius);
  }
  #menu .logo {
    height: 180px;
  }
}
