:root {
    --table-height: 580px;
    --table-width: 800px;
    --border-radius: 20px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#board {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle farthest-side, #a8e063, #56ab2f);
}

#board .background {
    background-repeat: no-repeat;
    height: var(--table-height);
    width: var(--table-width);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#board .background .border{
    background-color: brown;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 3px 5px rgba(62, 59, 59, 0.2);
}

#board .background .border .table {
    background-color: green;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    box-shadow: 0px 0px 3px 5px rgba(62, 59, 59, 0.5);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team1, .team2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.team2 {
    width: calc(var(--table-height) - 80px);
    height: calc(var(--table-width) - 160px);
    rotate: 90deg;
}

.team1 {
    height: calc(var(--table-height) - 100px);
    width: calc(var(--table-width) - 160px);
}


@media screen and (max-width: 800px) {

    #board .background .border{
        width: calc(100vw - 10px);
    }
    .team1 {
        width: calc(100vw - 70px);
    }

    .team2 {
        height: calc(100vw - 70px);
    }
}