:root {
    --card-height: 80px;
    --card-width: 56px;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    position: absolute;
}

.p1-draw {
    animation: p1-animation 0.5s linear forwards;
}

.p2-draw {
    animation: p2-animation 0.5s linear forwards;
}

.p3-draw {
    animation: p3-animation 0.5s linear forwards;
}

.p4-draw {
    animation: p4-animation 0.5s linear forwards;
}

@keyframes p1-animation {
    from {
        bottom: 0px;
    }
    to {
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

@keyframes p2-animation {
    from {
        top: 0px;
    }
    to {
        top:150px;
        left:50%;
        transform: translate(-50%, 50%) rotate(180deg);
    }
}

@keyframes p3-animation {
    from {
        bottom: 0px;
    }
    to {
        bottom: -100px;
        left:50%;
        transform: translate(-50%, 50%) rotate(180deg);
    }
}

@keyframes p4-animation {
    from {
        top: 0px;
    }
    to {
        top:-230px;
        left:50%;
        transform: translate(-50%, 50%) rotate(180deg);
    }
}