.bid-holder {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.p2-bid,
.p4-bid {
  background-color: red;
}

.p1-bid,
.p3-bid {
  background-color: blue;
}

.p1-bid {
  left: 50%;
  bottom: 22%;
}

.p4-bid {
  top: 47.5%;
  left: 18%;
  transform: rotate(-90deg);
}

.p3-bid {
  top: 27%;
}

.p2-bid {
  top: 47.5%;
  right: 18%;
  transform: rotate(90deg);
}
